@model IEnumerable<InventoryApp.Data.Models.IngredientQuantityModel>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IngredientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IngredientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteOneQuantity", "Home", new { id = item.ID }, new { @class = "confirmAction2" })           
        </td>
    </tr>
}
    <tr>
        <td>Total: @Model.Sum(m=>m.Amount)</td>
    </tr>
</table>
